*   {
    margin: 0;
    padding: 0;
}

.header {
    background-color: beige;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input   {
    width: 500px;
    height: 50px;
}

.footer {
    background-color: gray;
    height: 100px;
}
