/* 1. static
   - 모든 박스 요소가 만들어지면 기본적으로 가지는 디폴트 position 속성임
   - 만들어진 위치가 정 위치이고 left, top과 같은 위치 이동 속성 적용이 안됨
   2. relative
   - 만들어진 위치가 정 위치이나 left, top 등을 사용해서 위치 이동을 할 수 있음
   - 위치 이동 시 기준점(왼쪽 위 꼭짓점)은 처음 만들어진 위치임
   3. absolute
   - 독립적으로는 거의 사용하지 않고 어떤 요소의 자식으로 있을 때 주로 사용됨
   - 특징은 static이 아닌 부모를 기준으로 그 부모 내부를 기준으로 위치 이동 가능함 (단, 마이너스 값을 적용할 경우 부모의 반경을 넘을 수는 있음)
   4. fixed
   - 만들어지는 위치는 static과 동일하지만 위치 이동 시 기준점은 부모를 무시하고   
     브라우저를 기준으로 함 */

     *  {
        margin: 0;
        padding: 0;
     }

     div    {
        width: 200px;
        height: 200px;
        border: 1px solid #888;
     }

     div.static {
        background: yellow;
        left: 100px;
     }

     div.relative   {
        background: blue;
        position: relative;
        left: 100px;
        bottom: 100px;
        /* 위치이동의 기준은 왼쪽 위 꼭짓점
           레이아웃 단위에서 사용되는 요소에는 static이 가장 안정저거이므로 가급적 static을 사용하되, 해당 요소의 자식이 미세하게 위치 조정이 필요할 경우 relative를 사용하고, 자식에게 absolute를 사용함 */
     }

     div.wrap   {
        background: green;
        position: relative;
        width: 200px;
     }

     p.absolute {
        width: 80px;
        height: 80px;
        border: 1px solid #888;
        background: red;
        position: absolute;
        _left: 50%;
        _margin-left: -40px;
        /* absolute를 적용할 경우 부모의 포지션이 static이 아니면 부모의 
           내부에서 움직임
           요소를 중앙으로 보내려할 때 left를 50%로 옮기고, 요소 크기의 반만큼 margin-left 값을 밀어줌 */
        z-index: 1;
    }

    p.another   {
        width: 80px;
        height: 80px;
        background: yellow;
        top: 40px;
        left: 40px;
        position: absolute;
    }

     div.fixed  {
        background: mediumaquamarine;
        position: fixed;
        right: 0;
     }

     div.fixed-ex   {
        background: maroon;
        position: absolute;
        right: 0;
        /* absolute 요소가 body를 부모로 잡을 경우 fixesd와 마찬가지로 
           브라우저를 기준으로 위치 이동함
           하지만 fixed와 다른 점은 스크롤 했을 때 fixed는 항상 같은 위치를 잡고 있지만, absolute는 스크롤에 영향 없이 위치를 잡음 */
     }

     body   {
        height: 2000px;
     }