@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

/* 1. font-family 속성은 주로 웹폰트를 사용함 => google font
      만약에 인터넷이 안되는 공간이라면 웹폰트를 받을 수 없는데 이럴 때 대비하여 sans-serif, serif를 함께 작성해둠
      serif(장식체), sans-serif(비장식체)
   
   2. font-weight 속은은 글씨의 두께를 나타냄
      font-weight 속성은 bold, bolder가 같고, normal, thin이 같아서 실제로는 bold와 normal만이 의미있게 사용됨. 하지만 웹 폰트의 경우 세부적으로 두께 선택 가능 
   
   3. font-style 속성은 글자의 기울임을 통제함
      font-style 속성 중 italicrhk oblique는 동일한 결과이기 때문에 주로 italic을 사용함
   
   4. color 속성은 글자의 색을 나타냄 
   
   5. text-align 속성은 글의 좌우 배치를 나타냄
      값으로는 right, center, left, justify가 있음
      
   6. text-decoration 속성은 밑줄, 중간줄, 상위줄 나타냄
   
   7. letter-spacing, word-spacing은 글자 및 글 간격을 나타냄
      letter-spacing은 글자 간격, word-spacing은 단언 간격
      
   8. line-height 속성은 글의 행 간격으르 나타냄
      line-height 속성 값은 글자 크기에 따른 행간을 유동적으로 유지하기 위해 em 단위를 디폴트로 사용함
      
   9. em과 rem
      em은 직계 부모의 크기를 기본으로 유동적으로 크기가 조정되는 단위
      rem은 부모와 상관없이 root에서 정해진 기본 크기에 따라 유동적으로 크기가 조정되는 단위 */

p   {
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    _font-style: italic;
    font-size: 25px;
     /* 주석처리 대신 속성 앞에 '_' 로 대체 가능 */
    font-style: oblique;
    color: magenta;
    text-align: center;
    text-decoration: underline;
    _letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 16px;
}
